/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}

/* All the header sections designs are included here */

.top-header{
    display: flex;
    justify-content: center;
    background-color: #161616;
    height: 628px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}
.top-headline{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 10%;
    width: 500px;
    height: 150px;
    margin-left: 0%;
    margin-right: 5%;
}

.top-text{
    margin-left: 5%;
    margin-right: 5%;
    
}
.top-header-left {
    color: aliceblue;

}

.top-header-right img{
    display: block;
}

.top-button a{  
    text-decoration: none;
    color: black
    font-size: large;
    font-weight: 600;
}

.top-button{
    height: 50px;
    width: 120px;
    background-color: salmon;

}



/* Main body */

.main-body{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Main-Body-Left-Side or side bar related css */

.left-side{
    width: 25%;
    margin-left: 4%;
}
/* Main body side bar side button - End */
.multiple-button-box{
    height:312px;
    width:312px;
    border:5px solid white;
    background-color: #161616;
    border-radius: 5px;
    radius: 5px;
    padding: 5px;
}


.button{
    display:flex;
    flex-direction:column;
    top:10px;
    margin-left:10%;
    margin-right:10%;
    justify-items:center;
    margin-top:35%;}

.button01{
    margin-bottom: 5%;
    text-decoration: none;
    color: darkblue;
    font-size: large;
    font-weight: 600;
    background-color: salmon;
}
.button02{
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}
.button03{
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}

.main-left-box{
    width: 312px;
    height: 312px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    background: #161616;
    border-radius: 10px;
}
.button-middle a{
    text-decoration: none;
    color: #FFFFFF;  
}
.main-left-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/* Main body side bar side button - End */

/* Starting of Main-Body-Right-Side Style*/

.right-side{
    width: 75%;
    margin-left: 11%;
    margin-right: 16%;
}

/* All the article box design included here */
.multiple-article-box{

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row-gap: 5%;
    grid-column-gap:8%;
}

.article-box{
    height: 362px;
    width: 312px;
    border: 3px solid seashell;
    padding: 10px;
}


.article-tile{ 
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}

/* Awesome font icons for clock and comment design */
.fa-solid fa-clock{ 
    Width: 24px;
    Height:24px;
}

.icons{
    display: flex;
    column-gap: 5%;
    justify-items: center;
    align-items: center;

}
/* Starting of Main-Body-Right-Side Style*/

/* All footer related styles */

footer{
    margin-top: 5%;
    width: 100%;
    height: 250px;
    background-color:#161616;
}

hr{
    margin-left: 10%;
    margin-right: 10%;
}
.footer-text{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 70px;

}

.footer-nav a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    
    
}
.footer-nav{
    text-align: center;
}

/* Social media icons related designs are placed here */
.social-media-icons {
    color: #FFFFFF;
    justify-content:center;
    text-align: center;
    margin-top: 3%;
    display: flex;
}

.icon{
    margin-right: 1%;
    background-color: #FFFFFF;
    height: 25px;
    width: 25px;

}
/* All footer related styles */

